/* ******************************
*  Stylesheet for Screened Devices
*  Created by: Kimberlee Freeman
*  
*  1.  Includes (fonts and supplementary stylesheets)
*  1.1 Normalize
        @import url('normalize.css'); 
*  1.2 Google fonts
*       @import url('https://fonts.googleapis.com/css?family=Sansita&display=swap');
            font-family: 'Sansita', sans-serif;
*  2.  General Styles (for all pages and devices)
*
*  3.  Mobile First (styles specific to small screens)
*
*  4.  Large Screen Styles (Media Queries begin here)
*
* ****************************** */

/*  1.2 Google fonts*/

@import url('https://fonts.googleapis.com/css?family=Sansita&display=swap');

@import url('normalize.css');


/*  3.  Mobile First (styles specific to small screens)*/

header h1 {
    background-color:#0e89d5;
    font-family: 'Helvetica', sans-serif;
}

header img {
    height: 50px;
}

body {
    font-family: 'Helvetica', sans-serif;
}
h1, h2 {
    font-family: 'Sansita', sans-serif;
}

#Location {
    text-align: left;
    border: none;
}
#Location li {
    display: inline;
    
}

#Location ul {
    margin-left: 0;
    padding-left: 0;
}

section {
    text-align: center;
    border: 1px solid black;
    border-radius: 10px;
    
}


#tem1 {
    display: inline;
    color: red;
}

#temp2 {
    display: inline; 
    color: blue;
    
}


nav ul {
    text-align: center;
    color: white;
    background-color: #0e89d5;
    padding: 50px;
    margin-top: 10px;
}

#bignav {
    display: none;
}

#smallnav {
    display: inline;
}

nav li {
    background-color: #0e89d5;
    display: inline;
}

nav a {
    color: white;
    text-decoration: none;
}

footer {
    background-color: #0e89d5;
}

#hours {
    background-color: grey;
    
}

#hours li{
    display: inline;
    
}

#forecastlist {
    white-space: nowrap;
    overflow: auto;
}

#forecast, #wind, #Temperature {
    background-color: grey;
    background-image: url("../images/rain.jpg");
}

.bigF {
    font-size: 50px;
}

#windpointer {
    position: relative;
}

#dial {
    height: 150px;
    width: 150px;
    background: no-repeat center/85% url('/weather/images/wind-pointer.png');
    z-index: 100;
    margin: -.6em auto 0;
   }

#poiterspeed {
    position: absolute;
    left: 0;
    top: 40%;
    width: 100%;
    text-align: center;

}

#wind li {
    list-style-type: none;
}

.times {
    display: inline;
}

#Raindrops {
    height: 50%;
    width: 50%;
}

/*4.  Large Screen Styles (Media Queries begin here)*/

@media only screen and (min-width: 600px) {
    #bignav {
        display: inline;
    }

    #smallnav {
        display: none;
    }

    #hours h2 {
        text-align: left;
        
    }

    #rectangles {
        display: flex;
        flex-flow: row;  
        justify-content: center; 
    }

    .squares {
        width: 100%;
        margin: 7px;
    }
}
