/* ******************************
*  Stylesheet for Screened Devices
*  Created by: Kimberlee Freeman
*  
*  1.  Includes (fonts and supplementary stylesheets)
*  1.1 Normalize

*  1.2 Google fonts
* 
*  2.  General Styles (for all pages and devices)
*
*  3.  Mobile First (styles specific to small screens)
*
*  4.  Large Screen Styles (Media Queries begin here)
*
* ****************************** */

/*  1.2 Google fonts*/



/*  4.  Large Screen Styles (Media Queries begin here)*/
@media only screen and (min-width: 600px) {
    .big {
        display: flex;
        flex-direction: column;  
        width: 500px;
    }

    .small {
        display: none;
    }

/*  3.  Mobile First (styles specific to small screens)*/
@media only screen and (max-width: 600px) {
    .big {
        display: none;
    }

    .small {
        display: flex;
        flex-direction: column;  
        width: 500px;
        
    }
}





