header {
    /*text-transform: uppercase;*/
    border: 1px solid #000000; 
    height: 192px;
    width: 1265px;
    background-color: #000000; 
}

body {
    width: 1265px; 
    margin-left:auto;
    margin-right:auto;
    margin-top: 0;
}

#Title {

    margin: 0 auto;
    padding-top: 50px;
    color: #FFFFFF;
    font-family: eurostile, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 65pt;
    width: 100%;
    text-align: center;
}

#instructions {

    margin-top: 40px;
    font-family: "Arial Black";

}

/*nav {
  
}*/

nav img {
    width: 150px;
    margin: 10px;
}

main {
    text-align: center;
    align-content: center;
}

main h1 {
    width: 1265px;
}

main section {
    text-align: left;
    width: 1265px;
}

.data {
    border: 3px solid black;
    width: 1265px;
    
}
.data ul, p {
    position: relative;
    left: 135px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
}

.buttonborder h1:hover {
    text-decoration: underline;
}

section h1 { 
    font-family: "Arial Black";
    font-size: 50px;
    height: 50px;
    border: 2px solid #000000;
    background-color: #FFFFFF;
    height: 70px;
    /* width: 1265px; */
    padding-left: 160px;
    /*padding-top: 5px;
    padding-bottom: 5px;*/
    margin: 0px;
    
} 

/*.buttonborder {
    height: 40px;
    border: 2px solid #000000;
    background-color: #FFFFFF;
    height: 70px;
    width: 100%;
}*/

/*#grassdata {
    display: none;
}

#firedata {
    display: none;
}

#waterdata {
    display: none;
}

#bugdata {
    display: none;
}

#darkdata {
    display: none;
}

#dragondata {
    display: none;
}

#electricdata {
    display: none;
}

#fairydata {
    display: none;
}

#fightingdata {
    display: none;
}

#flyingdata {
    display: none;
}

#ghostdata {
    display: none;
}

#grounddata {
    display: none;
}

#icedata {
    display: none;
}

#normaldata {
    display: none;
}

#poisondata {
    display: none;
}

#psychicdata {
    display: none;
}

#rockdata {
    display: none;
}

#steeldata {
    display: none;
}*/

.normal {
    transform: rotate(0deg);
}

.open {
    transform: rotate(90deg);
}

#grasshead {
    background-color: #6EBF31;
    margin-top: 20px; 
}

#firehead {
    background-color: #E03609;
}

#waterhead {
    background-color: #2F91F2;
}

#bughead {
    background-color: #88960E;
}

#darkhead {
    background-color: #4D392C;
}

#dragonhead {
    background-color: #755EDF;
}

#electrichead {
    background-color: #FAB716;
}

#fairyhead {
    background-color: #F1ABF1;
}

#fightinghead {
    background-color: #7D311B;
}

#flyinghead {
    background-color: #8094E7;
}

#ghosthead {
    background-color: #6363A5;
}

#groundhead {
    background-color: #D1B055;
}

#icehead {
    background-color: #6DD3F5;
}

#normalhead {
    background-color: #C7C2B9;
}

#poisonhead {
    background-color: #762D78;
}

#psychichead {
    background-color: #DC3267;
}

#rockhead {
    background-color: #9E863D;
}

#steelhead {
    background-color: #8E8E9F;
}

#flip1 { 
    position: absolute;
    left: 130px;
    height: 55px;
    width: 36px;
    background: no-repeat url("images/triangle.png");
}

#flip2{ 
    position: absolute;
    left: 130px;
    height: 55px;
    width: 36px;
    background: no-repeat url("images/triangle.png");
}

#flip3{ 
    position: absolute;
    left: 130px;
    height: 55px;
    width: 36px;
    background: no-repeat url("images/triangle.png");
}

#flip4{ 
    position: absolute;
    left: 130px;
    height: 55px;
    width: 36px;
    background: no-repeat url("images/triangle.png");
}

#flip5{ 
    position: absolute;
    left: 130px;
    height: 55px;
    width: 36px;
    background: no-repeat url("images/triangle.png");
}

#flip6{ 
    position: absolute;
    left: 130px;
    height: 55px;
    width: 36px;
    background: no-repeat url("images/triangle.png");
}

#flip7{ 
    position: absolute;
    left: 130px;
    height: 55px;
    width: 36px;
    background: no-repeat url("images/triangle.png");
}

#flip8{ 
    position: absolute;
    left: 130px;
    height: 55px;
    width: 36px;
    background: no-repeat url("images/triangle.png");
}

#flip9{ 
    position: absolute;
    left: 130px;
    height: 55px;
    width: 36px;
    background: no-repeat url("images/triangle.png");
}

#flip10{ 
    position: absolute;
    left: 130px;
    height: 55px;
    width: 36px;
    background: no-repeat url("images/triangle.png");
}

#flip11{ 
    position: absolute;
    left: 130px;
    height: 55px;
    width: 36px;
    background: no-repeat url("images/triangle.png");
}

#flip12{ 
    position: absolute;
    left: 130px;
    height: 55px;
    width: 36px;
    background: no-repeat url("images/triangle.png");
}

#flip13{ 
    position: absolute;
    left: 130px;
    height: 55px;
    width: 36px;
    background: no-repeat url("images/triangle.png");
}

#flip14{ 
    position: absolute;
    left: 130px;
    height: 55px;
    width: 36px;
    background: no-repeat url("images/triangle.png");
}

#flip15{ 
    position: absolute;
    left: 130px;
    height: 55px;
    width: 36px;
    background: no-repeat url("images/triangle.png");
}

#flip16{ 
    position: absolute;
    left: 130px;
    height: 55px;
    width: 36px;
    background: no-repeat url("images/triangle.png");
}

#flip17{ 
    position: absolute;
    left: 130px;
    height: 55px;
    width: 36px;
    background: no-repeat url("images/triangle.png");
}

#flip18{ 
    position: absolute;
    left: 130px;
    height: 55px;
    width: 36px;
    background: no-repeat url("images/triangle.png");
}

footer {
    background-color: #000000;
    color: white; 
    text-align: center;
    border: 1px solid black;
    padding: 30px; 
}

@media only screen and (max-width: 600px) {

    body {
        width: 600px; 
        margin-left:auto;
        margin-right:auto;
        margin-top: 0;
    }
   
    #Title {

        /* margin: 0 auto; */
        color: #FFFFFF;
        font-family: eurostile, sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 30pt;
        width: 607px;
        text-align: center;
    }

    header {
        /*text-transform: uppercase;*/
        border: 1px solid #000000; 
        height: 90px;
        width: 607px;
        background-color: #000000; 
    }

    .data {
        border: none;   
        width: 600px;  
    }

    .data ul, p {
        position: relative;
        left: 135px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 20px;
        width: 400px;
    }

    main {
        text-align: center;
        align-content: center;
        width: 607px;
    }
    
    main h1 {
        width: 607px;
    }
    
    main section {
        text-align: left;
        width: 600px;
    }

    #grasshead {
        background-color: #6EBF31;
        margin-top: 20px;
        width: 447px; 
    }

    section h1 { 
        font-family: "Arial Black";
        font-size: 50px;
        height: 50px;
        border: 2px solid #000000;
        background-color: #FFFFFF;
        height: 70px;
        width: 447px;
        padding-left: 160px;
        /*padding-top: 5px;
        padding-bottom: 5px;*/
        margin: 0px;
        
    } 

    footer {
        background-color: #000000;
        color: white; 
        text-align: right;
        border: 1px solid black;
        padding: 30px; 
        width: 550px;
    }
}