body {
 background-image: url("/acme/images/site/background.jpg");
 background-size: cover;
 
}

.hide {
    display: none;
}

#whites {
    background-color: #ffffff;
}

header img {
    padding: 10px;
}

header ul {
    
    background-color: #de2226;
    padding: 20px;
}

header li {
    position: relative;
    left: -10px;
    display: inline; 
    list-style-type: none;
    padding: 10px;
    color:  #ffffff;
    
}

main {
    height: 1000px;
}

h1 {
    padding: 10px;
}

footer {
    text-align: center;
}

/*Home Page CSS*/

#featureImg {
    width: 100%;
}
#rocket {
    color: #de2226;
    list-style-type: none;
    position: absolute;
    z-index: 1;
    top: 350px;
    left: 900px;
}

#rocket h2 {
    padding: 0;
    margin: 0;
}

#column1, #column2 {
    position: relative;
    top: 10%;
    left: 10%;
    width: 200px;
    /*height: 324px;*/
    float: left;
    margin: 10px;
    padding: 10px;
    
    
}

#recipe ul {
    width: 40%;
    display: flex; 
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
    margin: 0;

}
#recipe li {
    width: 200px;
    flex: 0 1 50%;
    border: solid 2px grey;
    text-align: center;
    background-color: grey;
}

#recipe img {
    align-self: center; 
}

/* List settings for the mobile version
/* ul {
    width: 40%;
    display: flex; 
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
    margin: 0;

}
li {
    width: 400px;
    flex: 0 1 50%;
    border: solid 2px #000;
    text-align: center;
} */