body {
 background-image: url("/acme/images/site/background.jpg");
 
}

#whites {
    background-color: #ffffff;
}

header img {
    padding: 10px;
}

header ul {
    
    background-color: #de2226;
    padding: 20px;
}

header li {
    position: relative;
    left: -10px;
    display: inline; 
    list-style-type: none;
    padding: 10px;
    color:  #ffffff;
    
}

h1 {
    padding: 10px;
}

footer {
    text-align: center;
}

/* List settings for the mobile version
/* ul {
    width: 40%;
    display: flex; 
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
    margin: 0;

}
li {
    width: 400px;
    flex: 0 1 50%;
    border: solid 2px #000;
    text-align: center;
} */